@model LivingAssistance2.Models.CareGiver

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CareGiver</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsIndividual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsIndividual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experiance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experiance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VfstatusNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VfstatusNavigation.VerificationId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Cid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
