@model Report
@{
    List<ReportDetail> griddata = ViewBag.GridData;
}


<form asp-controller="Report" asp-action="Index" method="get">
<br />
<div>
    @*Drop down*@
    <h4>Search</h4><br />
    @Html.DropDownListFor(m=>m.Usertype, 
            new SelectList(Enum.GetValues(typeof(Searchtype))), 
            "Select") 
</div>
<br />

<div style="margin:auto">
    @*Search bar*@
    Name <br />
    @Html.TextBoxFor(m=>m.Name) <br />
    Address <br />
    @Html.TextBoxFor(m=>m.Address)  <br />
    Date <br />
    From  
    @Html.TextBoxFor(m=>m.dt1,new {@type = "date"}) 
    To   
    @Html.TextBoxFor(m=>m.dt2,new {@type = "date"}) <br />
   </div> 
   <div class="text-center">
    <button type="submit">Search</button>
    </div>
</form>

<div>
    
    @if(griddata.Count == 0)
    {
        <div class="text-center">
       <h3>@Html.DisplayName("Record Not found")</h3></div>
    }
    else if(griddata!=null)
    {
        <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Patient")
            </th>
            <th>
                @Html.DisplayName("Address")
            </th>
            <th>
                @Html.DisplayName("CareGive")
            </th>
            <th>
                @Html.DisplayName("Services")
            </th>
            <th>
                @Html.DisplayName("Experience")
            </th>
            <th>
                @Html.DisplayName("VerificationStatus")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in griddata) {
        <tr>
            <td>
                @item.Patient
            </td>
            <td>
               @item.Address
            </td>
            <td>
                @item.CareGive
            </td>
            <td>
                @item.Services
            </td>
            <td>
                @item.Experience
            </td>
            <td>
                @item.VerificationStatus
            </td>
        </tr>
}
    </tbody>
</table>
    }
</div>