@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Report


<form asp-controller="Report" asp-action="Display" method="get">
<br />
<div>
    @*Drop down*@
    <h4>Search</h4><br />
    @Html.DropDownListFor(m => m.Usertype, 
            new SelectList(Enum.GetValues(typeof(Searchtype))), 
            "Select") 
</div>
<br />

<div style="margin:auto">
    @*Search bar*@
    Name <br />
    @Html.TextBoxFor(m=>m.Name) <br />
    Address <br />
    @Html.TextBoxFor(m=>m.Address)  <br />
    Date <br />
    From  <br />
    @Html.TextBoxFor(m=>m.dt1,new {@type = "date"}) <br />
    To   <br />
    @Html.TextBoxFor(m=>m.dt2,new {@type = "date"}) <br />
   </div> 
   <div class="text-center">
    <button type="submit">Search</button>
    </div>
</form>

