@model IEnumerable<LivingAssistance2.Models.PatientDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelectedCgNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SelectedCgNavigation.Cid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Pid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Pid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Pid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
